<h1>Pick a song/playlist based on your mood.</h1>
<div class="mood-slider">
  <h2>How are you feeling today?</h2>
  <input type="range" />
</div>
<div class="pick-btn-group">
  <button class="pick-one">Pick One!</button>
  <button class="pick-playlist">Gimme Playlist!</button>
</div>
<div class="picked-list">
  <p>song/playlist card</p>
</div>
