* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}

header {
  min-height: 15vh;
  display: flex;
  align-items: center;
}

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.mood-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picked-list {
  height: 200px;
  width: 100%;
  padding: 1rem;
  border: 1px solid black;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
}

.song-card {
  flex-shrink: 0;
  height: 140px;
  width: 140px;
  border: 1px solid red;
}

footer {
  min-height: 10vh;
  display: flex;
  align-items: center;
}
