main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.mood-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mood-slider-container input {
  width: 100%;
  /* margin-top: 3rem; */
}

.mood-display {
  text-align: center;
  margin: 2rem 0;
}

[data-mood-emoji] {
  font-size: 50px;
}

[data-mood-text] {
  font-size: 14px;
}

.picked-list {
  height: 200px;
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
}

.song-card {
  flex-shrink: 0;
  height: 140px;
  width: 140px;
  border: 1px solid red;
}

.pick-btn-group button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--color4);
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  color: var(--color1);
}

button:hover {
  background-color: var(--color3);
}
