main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.picked-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.mood-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  position: relative;
  background: var(--color1);
  height: 10px;
  z-index: 1;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1rem;
}

.slider input {
  width: 100%;
  height: 10px;
  appearance: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}

.slider input::-webkit-slider-thumb {
  appearance: none;
  outline: none;
  border: none;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('../images/thumb.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-animate {
  pointer-events: none;
  position: absolute;
  background: var(--color2);
  border-radius: 5px;
  width: 20%;
  height: 10px;
  top: 0;
  right: 0;
  z-index: -1;
}

.mood-display {
  text-align: center;
  margin: 1.5rem 0;
}

[data-mood-emoji] {
  font-size: 50px;
}

[data-mood-text] {
  font-size: 14px;
}

.picked-list {
  height: 200px;
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
}

.song-card {
  flex-shrink: 0;
  height: 140px;
  width: 140px;
  border: 1px solid red;
}

.pick-btn-group {
  display: flex;
  gap: 1rem;
}

.pick-btn-group button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--color4);
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  color: var(--color1);
}

button:hover {
  background-color: var(--color3);
}
